<a href="https://colab.research.google.com/github/xieyuxuan050-dotcom/RTU_Python_DE0800/blob/master/%E2%80%9CPython_Flow_Control_ipynb%E2%80%9D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Algebra

George Boole can be considered a grandfather of computer science and programming.

![George Boole](https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/George_Boole_color.jpg/440px-George_Boole_color.jpg)

[Boole at Stanford](https://plato.stanford.edu/entries/boole/)

## Boolean Variables

In [1]:
True # George Bool 19th century mathematician invented boolean algebra
# extremely well suited for computers which work with 0s and 1s

True

In [ ]:
False

False

In [ ]:
type(True), type(False)

(bool, bool)

In [2]:
# We use Booleans all the time in computer programming to obtain results of some comparison, or equality and many other functions
5 > 7

False

In [ ]:
type(5 > 7)

bool

In [ ]:
8 == 18-10  # evaluation in Python ir right to left so 18-10 is done first

True

In [ ]:
2*2 == 4, 2*2 == 5

(True, False)

In [ ]:
5 == '5' # these are not the same in Python!
# integer 5 is not the same as string "5"

False

In [ ]:
5 == int('5') # we need to compare same data types in Python otherwise we will just get inequality

True

In [4]:
# in Python " and ' are used the same way so...
"Valdis" == 'Valdis'

True

In [3]:
# however
"Valdis" == "valdis" # not the same!

False

In [5]:
# also remembere whitespace!
"Valdis " == "Valdis" # that single space is a character!
# there are methods to strip whitespace off from strings but that is another discussion

False

In [ ]:
# we have more lesser or greate comparisons
# <, <=, >=, >

In [6]:
5 <= 6, 5 <= 5

(True, True)

In [7]:
# we usually compare at least one variable with some number or string, or possible two variables
a = 2 # idea being that this value could be coming from
b = 4
a*a == b, a*a == 4, a*a == 5

(True, True, False)

In [8]:
a >= 2, a > b, a >= b, a < b, a <= b # so True, False, False, True, True

(True, False, False, True, True)

In [ ]:
# there is an inequality comparison # it is like reverse of equality

In [9]:
5 != 6, 5 != 5 # so True and False

(True, False)

In [10]:
a*a != 4, a*a != 9000 # so first one is false because a*a is in fact EQUAL to 4, and 2nd one is obviously false here

(False, True)

## Negation

In [ ]:
not True, not False # more about negation later

(False, True)

## Comparing Strings

In [11]:
'VALDIS' < 'VOLDEMARS' # what is being compared here?

True

In [12]:
len('VALDIS') < len('VOLDEMARS') # this is comparing string lengths

True

In [13]:
'VALDIS' < 'VOLD' # beacause A < O (even though length for VOLD is shorter)

True

In [14]:
'VALDIS' < 'VAL'

False

In [ ]:
'VALDIS' < 'VB'

True

In [ ]:
# so for string comparison will be done lexicographically

In [ ]:
'ZALDIS' < 'VB'

False

In [ ]:
'Valdis' > 'VALDIS' # because a comes after A

In [15]:
len('VALDIS') < len('VOLDEMARS')

# We check each letter from left side
# on mismatch we check ASCII (UTF-8) tables for values

'VALDIS' < 'VOLDEMARS'

True

### Comparing Emojis

In [ ]:
# we can compare Emojis!
"ðŸ˜€" < "ðŸ˜"

True

### Checking Unicode value for single character string

In [ ]:
# above is true because of Unicode represening those Emojis
ord("ðŸ˜€"), ord("ðŸ˜ƒ"), ord("ðŸ˜")

(128512, 128515, 128513)

In [ ]:
'kaÄ·is' < 'kakis' # cat vs cat in Latvian

False

### Getting character from Unicode number

In [ ]:
chr(65)

'A'

In [ ]:
chr(256),chr(257), chr(258)

('Ä€', 'Ä', 'Ä‚')

In [ ]:
chr(400) # so you can get UTF-8 characters out of their code numbers

'Æ'

In [ ]:
chr(4000)

'à¾ '

In [ ]:
chr(40000)

'é±€'

In [ ]:
chr(128523)

'ðŸ˜‹'

In [ ]:
# ord gets you integer value representing unicode value
ord('Ä·'), ord('k')

(311, 107)

In [ ]:
ord('Ä¶')

In [ ]:
ord('Ä€'),ord('Ä')

In [ ]:
'Valdis'  < "VOLDEMARS"

In [ ]:
print(chr(97))

In [ ]:
chr(4000)

In [ ]:
ord("Ä")

In [ ]:
ord('Ä¶')

In [ ]:
list(range(5))

# Logical Operators

## Logical Negation

In [16]:
not True

False

In [17]:
# similarly
not False

True

In [18]:
# we can use this negation to create a toggle switch
is_hot = False
print(is_hot)

False

![Spark Toggle](https://cdn.sparkfun.com//assets/parts/2/7/7/7/09276-1.jpg)

In [19]:
is_hot = not is_hot # so we reverse the value of is_hot to the oppositive of the previous
print(is_hot)

True

## Logical Conjuction with and

In [ ]:
# and is only only true if both sides are true, otherwise false

In [ ]:
True and True

True

In [ ]:
True and False # and requires for BOTH sides to be true

False

In [ ]:
False and True

False

In [ ]:
False and False

False

In [ ]:
5 > 4 and 2*2 == 4

True

In [ ]:
True and True and 2*2 == 4

True

## Lazy Evaluation

In [20]:
True and True and 2*2 == 4 and 2*2 == 5 # one drop of oil spoils honey

False

In [21]:
200/0

ZeroDivisionError: division by zero

In [22]:
#Lazy evaluation
# As soon as something is false,Python will stop evaluating the sequence

3 < 2 and True and 2*2 == 4 and 5 == 5 and 200/0 == 2
# once the first false value is found Python stops looking
# so as soon as 3 < 2 is encountered Python stops that particual evaluation because it is going to be false for sure!

False

In [23]:
a*a == 4 and a*2 == b and b < 10

True

## Complex Numbers in Python

In [24]:
# complex numbers in Python
4+5j # so j is i in math which square root of -1

(4+5j)

In [25]:
(4+5j)*(3+2j) # 4*3 == 12 (5*3)j+(2*4)j + (5j*2j)= 10*-1

(2+23j)

In [ ]:
i = (2+4j)

In [ ]:
i**2

In [ ]:
1_000_000 # for big numbers you can type like this and _ will be ignored

1000000

In [ ]:
1_0_0_4

1004

In [ ]:
1 000 000 # this will not work

SyntaxError: ignored

## Logical Disjunction

In [ ]:
# logical or, one side should be true for the whole expression to be true

In [26]:
True or False

True

In [ ]:
True or True

True

In [ ]:
False or True

True

In [ ]:
False or False  # only or which will be false

False

### Lazy Evaluation for disjunction (or)

In [ ]:
# as soon as you get something True in a longer chain or or statements we get a True statement
False or True or True or 2*2 == 4 # Python stops checking after first True

True

In [ ]:
#lazy evaluation
(4 == 4 or 4 < 3) or 4 < 3

True

In [ ]:
5/0  # throws a ZeroDivisionError

ZeroDivisionError: division by zero

In [ ]:
my_zero = 0
my_zero != 0 and 100/my_zero # so 2nd part will not work

False

In [ ]:
not 4 == 4 # so we invert True

False

# Longer Comparison shorter syntax

In [29]:
# you can compare
c = 7
1 < a < 3 < b < 5 < c < 10 # true because a and b are 2 and 4 respectively here

True

In [ ]:
# the above would can be written as follows ( most languages require this approach but Python offers the above shorter way)
1 < a and a < 3 and 3 < b and b < 5 and 5 < 10

True

## Bit Operators

In [30]:
# this is for hardware engineers, automechanics, maybe Raspberry Pi owners
~0

-1

In [31]:
~1

-2

In [32]:
~0

-1

In [33]:
bin(4)

'0b100'

In [34]:
bin(7)

'0b111'

In [35]:
bin(-1)

'-0b1'

In [ ]:
# bit operation 11 and 100 so no bits so we get 000
3 & 4

In [ ]:
3 & 5 # 11 and 101 so we should get 001 that is 1

In [ ]:
2**8 # THIS MEANS that one byte can hold 256 different values

In [ ]:
bin(255),bin(3),bin(4),bin(5),bin(6),bin(7)

In [ ]:
bin(127), bin(128)

In [ ]:
1+2**1+2**2+2**3+2**4, bin(31)

In [ ]:
bin(3)

In [ ]:
bin(4)

In [ ]:
# bit or will be 11 or 100 should be 111
3 | 4

In [ ]:
# Bitwise XOR (Exclusive XOR)
True ^ False

In [ ]:
True ^ True

In [ ]:
False ^ False

In [ ]:
# shifted 1 to 100000 which is 32, 2 to the 5th power
1 << 5

In [ ]:
bin(32)

In [ ]:
127 >> 4

In [ ]:
bin(127)

## If Statement

In [36]:
## Conditional execution
# if 4 is larger than 5 then do something

if 6 > 5: # note that : in Python : usually implies a new code block with indentation
    print("6 is larger than 5 wow!")
    # we are stil inside this block
    print("6 is still larger than 5...")

6 is larger than 5 wow!
6 is still larger than 5...

In [39]:
## Conditional execution
# if 4 is larger than 5 then do something
# typically we will have at least one side be a variable
my_val = 10 # imagine this comes from earlier in program or user input or file
if my_val > 5:
    # so we have code block when if is true
    # in Python colon - : will indicate start of indented block (not only for if but other statement)
    # many other languages use {} in Python we use whitespace
    # typically it is going to be 4 spaces, most editors will automatically convert tabs to 4 spaces
    # some people prefer 2 or 8 but most use 4
    print(f"{my_val} is larger than 5 wow!")
    # only runs when if statement is true
    print("Only when if is true")
    # if block ends when indentation returns to normal
print("This will always run")  #notice the lack of indentation

10 is larger than 5 wow!
Only when if is true
This will always run

In [40]:
# the next 4 if statements are not related to each other
if 5 >= 5:
    print("hello")
if 5 <= 5:
    print("hello")
if 5 == 6:
    print("hello thats magic")
if 5 != 6:
    print("hello thats not magic")

hello
hello
hello thats not magic

In [41]:
if 2*2 == 4:
    print("Do one thing if if is True")
    print("DO more things if if is True")
    # we can write as many things to be done as needed
print("Do this always")

Do one thing if if is True
DO more things if if is True
Do this always

In [42]:
a = 4
if 2*2 == a:
    print("Do one thing if if is True")
    print("DO more things if if is True")

    # you can leave empty rows code will still work
    print("Do more")
print("Do this always")

Do one thing if if is True
DO more things if if is True
Do more
Do this always

In [ ]:
# we can nest multiple if statements
a = 4
if 2*2 == a:
    print("Do one thing if if is True")
    print("DO more things if if is True")

    if (a > 3):
        print("Do more when a > 3")

# unrelated if statement to previous
if (a > 3):
    print("a is larger than 3")
# Last line will always be printed
print("Do this always")

Do one thing if if is True
DO more things if if is True
Do more when a > 3
a is larger than 3
Do this always

In [43]:
a = input("What is your age ")
print('Your age is ', a)

What is your age 22
Your age is  22

In [ ]:
c = float(input("Enter temperature in Celsius "))
f = c * 9/5 + 32
print("Farenheit Temperature is", round(f,2)) # we using round to 2 decimals because floats are imprecise

Enter temperature in Celsius 100
Farenheit Temperature is 212.0

In [45]:
c = float(input("Enter temperature in Celsius "))
f = c * 9/5 + 32
f = round(f, 2) # we could have added round on the previous row as well
print("Farenheit Temperature is", f)
if f > 100:
    print("You are too hot, find a doctor?")
    print(f"Your temperature is {f}")

Enter temperature in Celsius 38
Farenheit Temperature is 100.4
You are too hot, find a doctor?
Your temperature is 100.4

In [46]:
# Show all current local variables
%whos

Variable   Type     Data/Info
-----------------------------
a          str      22
b          int      4
c          float    38.0
f          float    100.4
is_hot     bool     True
my_val     int      10

In [47]:
%store

Stored variables and their in-db values:

In [48]:
a = 5
b = "Food"

In [ ]:
%whos

In [ ]:
%store a

In [ ]:
%whos

In [ ]:
%store

In [ ]:
#Retrieve variables from disk
%store -r

In [ ]:
%whos

In [ ]:
%store b

In [ ]:
%store -r b

In [ ]:
b

In [ ]:
%store -r a

## Else in if statements

Big idea: we need to do exactly one choice depending on some logical statement

If else can help us clarify code and avoid bugs(errors).

https://www.poetryfoundation.org/poems/44272/the-road-not-taken

![TwoRoads](https://live.staticflickr.com/8186/8142976745_c43ce93805_b.jpg)

License: https://creativecommons.org/licenses/by-nc-sa/2.0/

In [50]:
a = 5
a = 5.1
a = 2
if a > 5:
    print('a is larger than 5')
    # do more stuff
else: # so here this means a <= b
    print('a is NOT larger than 5')
    # do more stuff if a is not larger than 5
# our branching has ended and we are back to normal flow
print(f"a is actually {a}")
print("Always print this")

a is NOT larger than 5
a is actually 2
Always print this

In [ ]:
# if you have like in the fairy tales 3 or more choices
# then you will need to use elif in middle of if else chain

![Sherlock](https://upload.wikimedia.org/wikipedia/commons/9/9e/Sherlock_Holmes_-_The_Man_with_the_Twisted_Lip_%28colored%29.jpg)

How often have I said to you that when you have eliminated the impossible, whatever remains, however improbable, must be the truth?

In [51]:
#elif comes from else if
x = int(input("Enter an integer please! "))
if x > 42:
    print("Too ambitious an answer!")
elif x < 42: # elif stands for else if (Python uses elif)
    print("You dream too little!")
else: # so x>42 was false, x<42 was false, this leave only x == 42
    print("That is the answer to everything!")
#These lines below will execute always
print('Your number is', x)

Enter an integer please! 4
You dream too little!
Your number is 4

In [54]:
# you can do longer if else chains
# order of checking matters!
a = 5000
a = 100
if a > 1000:
    print(f"A is truly big {a}")
elif a > 100: # here you know a is 1000 or less possibly much less
    print(f"A is pretty big over 100 but not more than 1000 {a}")
elif a > 0: # here you know a is 100 or less
    print(f"Well a is at least positive between 1 and 100 -> {a}")
elif a < 0: # here you know a 0 or less
    print(f"Looks like we got a negative here {a}")
else: # again only 0 remains as the value not covered by previous chain
    print(f"A must be zero! {a}")

Well a is at least positive between 1 and 100 -> 100

## Pattern matching in Python 3.10 and on

People got tired of writing long if elif elif .... elif chains

Many other languages had a construction such as switch..case or when...
Or some other pattern matching method

So Python in 3.10 introduced their own pattern matching
https://peps.python.org/pep-0622/#matching-process

```
match number:
    case 0:
        print("Nothing")
    case 1:
        print("Just one")
    case 2:
        print("A couple")
    case -1:
        print("One less than nothing")
    case 1-1j:
        print("Good luck with that...")
```

At the time Google Colab offers Python 3.8 so will need to wait a few months/years.
You can install Python locally from https://python.org . Python versions 3.10 or later that will have this feature

In [ ]:
!python --version

Python 3.10.12

In [55]:
# prompt: Let's use new pattern matching syntax to check for human temperature, and respond with appropriate guidance.

def check_temperature(temperature):
  match temperature:
    case temp if temp < 35:
      print("Your temperature is too low, seek medical attention.")
    case temp if temp < 37:
      print("Your temperature is normal.")
    case temp if temp < 38:
      print("Your temperature is slightly elevated, monitor closely.")
    case temp if temp < 39:
      print("You have a mild fever, rest and hydrate.")
    case temp if temp < 40:
      print("You have a moderate fever, consult a doctor.")
    case temp if temp >= 40:
      print("You have a high fever, seek immediate medical attention.")
    case _: # so called default case
      print("Invalid temperature input.")

# Example usage
temperature = float(input("Enter your temperature in Celsius: "))
check_temperature(temperature)

Enter your temperature in Celsius: 36.8
Your temperature is normal.

In [56]:
# prompt: Let's use pattern matching to transform digit to English strings like 0 to "one" and so on.

def digit_to_english(digit):
  match digit:
    case 0:
      return "zero"
    case 1:
      return "one"
    case 2:
      return "two"
    case 3:
      return "three"
    case 4:
      return "four"
    case 5:
      return "five"
    case 6:
      return "six"
    case 7:
      return "seven"
    case 8:
      return "eight"
    case 9:
      return "nine"
    case _:
      return "Invalid digit"

# Example usage
digit = int(input("Enter a digit (0-9): "))
english_word = digit_to_english(digit)
print(f"The English word for {digit} is {english_word}")

Enter a digit (0-9): 4
The English word for 4 is four